
.nav-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    max-width: 1440px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: 50px;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li {
    margin: 0 1.5rem;
}

.menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-item::before {
    content: "";
    width: 2rem;
    height: 0.2rem; /* Set height for the underline effect */
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem; /* Adjust spacing from the text */
      left: 0;   /* Ensure it starts at the left */
    opacity: 0;
    transform: translateX(-1.5rem); /* Shift out of view */
    transition: all 0.3s ease; /* Smooth transition effect */
}

.menu-item:hover::before {
    width: 100%; /* Expand underline to full width */
    transform: translateX(0); /* Reset position */
    opacity: 1; /* Make it visible */
}

.contact-btn {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    color: #a993fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.menu-btn {
    display: none; /* Default hidden for larger screens */
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 99.87%);
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1000;
}

.menu-btn:hover {
    color: #a993fe;
    background: #000;
    outline: 1px solid #a993fe;
}




@media (max-width: 768px) {
    .nav-content ul {
        display: none; /* Hide desktop menu */
    }

    .menu-btn {
        display: block; /* Show menu button */
    }
}

@media (max-width: 425px) {
    .logo {
        width: 10rem;
        height: auto; /* Adjust logo size for smaller screens */
    }
}

@media (max-width:1324px) {
    .nav-wrapper {
        padding:0 2rem ;
    }
}
  

  


